body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, p {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    background-color: rgb(245, 245, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    margin: 0;
    padding: 20px;
    flex-wrap: wrap-reverse;
}

img {
    object-fit: cover;
    height: 300px;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 300px;
}